@model Production_ERP1.Models.Person_Model
@{
    ViewBag.Title = "PartialPerson";
}

<h2>Enter Person Details</h2>


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <img src="~/Image/Login_Images/" class="img-fluid" alt="Login Image" style="max-width: auto; height: auto;" />
        </div>

        <div class="col-md-6">
            @using (Html.BeginForm("SaveOrEdit", "Person", FormMethod.Post))
            {

                <div class="form-group mb-3">
                    <label>Person Name</label>
                    @Html.HiddenFor(m => m.Person_Id)

                    @Html.TextBoxFor(m => m.Person_Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Person_Name, "", new { @class = "text-danger" })

                </div>

                <div class="form-group mb-3">
                    <label>Person Contact</label>
                    @Html.TextBoxFor(m => m.Person_Contact, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Person_Contact, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    <label>Person Type</label>

                    @Html.DropDownListFor(m => m.PersonType_Id, new SelectList(ViewBag.personList, "Value", "Text"), "Select Person Type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PersonType_Id, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    <label>Person Email</label>
                    @Html.TextBoxFor(m => m.Email_Id, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email_Id, "", new { @class = "text-danger" })
                </div>

                <div class="form-group mb-3">
                    @Html.HiddenFor(m => m.UserId)
                </div>

                <div class="form-group text-center ">
                    <br />
                    <button type="submit" class="btn btn-success d-lg-grid" style="width: auto;">Save</button>
                </div>
            }
        </div>
    </div>
</div>
